name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: zscore-test
      id: zscore-test
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: zscore-test
        setup-command: pip install -r requirements.txt
        command: pytest test_challenges.py -v
        timeout: 10
        max-score: 10
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        ZSCORE-TEST_RESULTS: "${{steps.zscore-test.outputs.result}}"
      with:
        runners: zscore-test
